/*
@media (min-width: 760px)
.fighter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 980px)
.fighter-list__item:nth-child(-n+3) {
    border-top: none;
}

@media (min-width: 980px)
.fighter-list__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
}

@media (min-width: 980px)
.fighter-list::after {
    content: '';
    display: block;
    border-left: #333333 1px solid;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
}
*/

.fighter-list::after {
    content: '';
    display: block;
    border-left: #333333 1px solid;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
}

.fighter-list__item:nth-child(-n+3) {
    border-top: none;
}

.fighter-list {
    background: #000;
    width: 900px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.fighter-list__item {
    border-bottom: #333333 1px solid;
    overflow: hidden;

    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
}

.fighter-list__img {
    -webkit-transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(1) blur(3px);
    filter: grayscale(1) blur(3px);
}

.fighter-list__img-selected {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}

/*
.fighter-list__img-unselected:hover {
    /*
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
    */

.fighter-list__img-highlight-unselected {
    -webkit-filter: grayscale(1) blur(0);
    filter: grayscale(1) blur(0);

}

.fighter-list__img:active {
    -webkit-filter: grayscale(0) brightness(125%) saturate(150%);
    filter: grayscale(0) brightness(125%) saturate(150%);
}

.fighter-list__img::before {
    content: "";
    display: block;
    padding-top: 24.16452%;
}

.fighter-list__check {
    position: absolute;
    left: 10px;
    top: 40%;
}

.fighter-list__num {
    color: #FFF;
    position: absolute;
    left: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}

@media (min-width: 980px)
.fighter-list__num-txt {
    font-size: 30px;
}

.fighter-list__num-ico {
    display: inline-block;
}

@media (min-width: 980px)
.fighter-list__name {
    left: 70px;
}

.fighter-list__name {
    color: #FFF;
    position: absolute;
    left: 65px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    z-index: 3;
    cursor: default;
}

.fighter-list__name-main {
    font-family: "Roboto Condensed",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 20px;
}

.fighter-list__num-txt {
    font-family: "Roboto Condensed",-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Arial,sans-serif;
    font-weight: bold;
    font-size: min(2.5vw, 30px);
    line-height: 1;
    letter-spacing: -0.01em;
    cursor: default;
}

.fighter-list__btn {
    display: block;
    background: #000;
    position: relative;
}

.fighter-list__btn::after {
    content: "";
    display: block;
    width: 0;
    padding-top: 24.16452%;
    margin-top: -24.16452%;
    background: url(https://www.smashbros.com/assets_v2/img/common/ptn_diagonal_12.png) 0 0;
    background-size: 6px;
    -webkit-transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.icon-but {
    border: 0px;
}

.ready-to-fight {
    height: 100%;
    position: absolute;
    left: calc(50vw - 220px);
    cursor: pointer;
}

.ready-to-fight:hover {
    -webkit-filter: grayscale(0) brightness(125%) saturate(150%);
    filter: grayscale(0) brightness(125%) saturate(150%);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Footer stuff */
.footer {
  /* This would be if we want it always visible (which we don't)
  position: absolute; */
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px;
  /*
  background-color: #f5f5f5;
  */
  background-color: rgba(256,256,256,0.5);
  position: fixed;
  z-index: 10;
}

.main-content {
    flex: 0 1 auto;
}

.main-container {
    display: flex;
    flex-flow: column;
}

.main-content-with-footer {
    margin-bottom: 100px;
}