.fighter-list {
    margin: 20px 20px 20px 20px;
}

.code-val {
    margin: 20px 20px 20px 20px;
}

.fighter-lists {
    display: flex;
}

.fighter-item {
    text-align: left;
}

.flist {
    flex: 50%;
}

.main-content {
    height: 100%;
    max-width: 500px;
    text-align: center;
}